#game-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 95vh;
}
#game-board{
    border: 2px solid white;
    
}
#score-board{
    text-align: center;
    width: 25%;
}
#score-container{
    font-size: 3rem;
}
#score{
    color: green;
}
#new-game-btn{
    padding: 10px 15px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}